@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --green: #18A7B9;
}

.flex {
    display: flex;
    align-items: center;
}

.nav {
    justify-content: space-between;
    padding: 1.5rem;
}

.logo {
    height: 3em;
    width: auto;
}

h1 {
    font-weight: 700;
    line-height: 1.2;
}

.green {
    color: var(--green);
}

.content {
    margin-top: 4rem;
    padding: 0 1.5rem;
}

.content p {
    font-weight: 400;
    margin: 1.5rem 0;
}

p{
    font-size: 14px;
}

.cta {
    padding: .6rem 0rem;
    text-decoration: none;
    font-size: .8rem;
    justify-content: center;
    width: 8rem;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.colored {
    background-color: var(--green);
    color: #fff;
    margin-right: 1rem;
}

.plain {
    border: 1px solid var(--green);
    color: var(--green); 
}

.hero-image {
    height: auto;
    margin-top: 3rem;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

#choose-us {
    padding: 1.5rem;
}

#choose-us a {
    margin: 1rem 0 2.5rem;
}

h2 {
    font-weight: 500;
}

.num {
    font-weight: 600;
    font-size: 2.5rem;
    position: relative;
    bottom: -2.5rem;
    left: 1.7rem;
}

.bg-color1,
.bg-color2,
.bg-color3 {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 3.5rem;
    width: 3.5rem;
    display: block;
}

.bg-color1 { 
    background-color: var(--green);
}

.bg-color2{
    background-color: #FE8432;
}

.bg-color3 {
    background-color: #42B918;
}

#about>div {
    padding:0  1.5rem;
}

.num-wrap {
    margin-bottom: 1.5rem;
}

#properties {
    padding: 4rem 1.5rem;
}

#properties img {
    height: auto;
    width: 100%;
    margin-bottom: 1.5rem;
}

#properties h2 {
    margin-bottom: 1.5rem;
}