@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/***********LOADER STYLES*********/
.loader-container {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-color: var(--green);
    animation-name: loader;
    animation-duration: 1s;
    animation-delay: 3s;
    position: fixed;
    z-index: 999999999;
}

@keyframes loader {
    from {opacity: 100%; width: 100%}
    to {opacity:0; width: 0px}
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #FE8432;
    border-bottom: 10px solid #42B918;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/***********LOADER STYLES*********/

:root {
    --green: #18A7B9;
}

body {
    overflow-x: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.logo {
    height: 2rem;
    object-fit: cover;
}

.nav {
    justify-content: space-between;
    padding: 1.5rem;
}

#hamburger {
    height: 3rem;
    width: auto;
}

.show-links {
    position: fixed;
    z-index: 9999;
    height: 290px;
    width: 180px;
    top: 6rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f6f7;
    border-radius: 7px;
  }

  #close-icon {
      position: absolute;
      top: .5rem;
      right: .5rem;
      height: 2rem;
  }

  nav {
    overflow: hidden;
    height: 0;
    position: relative;
  }

  ul {
    list-style-type: none;
  }
  
  li {
    padding-bottom: 0.9rem;
  }
  
  li > a {
    color: var(--green);
    font-size: 15px;
    font-weight: 500;
  }

  li> a:hover {
      border-bottom: 2px solid var(--green);
  }

h1 {
    font-weight: 700;
    line-height: 1.2;
}

.green {
    color: var(--green);
}

.content {
    margin-top: 4rem;
    padding: 0 1.5rem;
}

.content p {
    font-weight: 400;
    margin: 1.5rem 0;
}

p{
    font-size: 14px;
}

a {
    text-decoration: none;
}

.cta {
    padding: .6rem 0rem;
    font-size: .8rem;
    justify-content: center;
    width: 8rem;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cta:hover {
    transform: scale(1.2);
}

.colored {
    background-color: var(--green);
    color: #fff;
    margin-right: 1rem;
    -webkit-box-shadow: 1px 22px 50px 1px rgba(24,167,185,0.45); 
    box-shadow: 1px 22px 50px 1px rgba(24,167,185,0.45);
}

.plain {
    border: 1px solid var(--green);
    color: var(--green); 
}

.hero-image {
    height: 100%;
    width: 100%;
    margin-top: 3rem;
    object-fit: cover;
}

#choose-us {
    padding: 1.5rem;
}

#choose-us a {
    margin: 1rem 0 2.5rem;
}

h2 {
    font-weight: 500;
}

.num {
    font-weight: 600;
    font-size: 2.5rem;
    position: relative;
    bottom: -2.5rem;
    left: 1.7rem;
}

.bg-color1,
.bg-color2,
.bg-color3 {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 3.5rem;
    width: 3.5rem;
    display: block;
}

.bg-color1 { 
    background-color: var(--green);
}

.bg-color2{
    background-color: #FE8432;
}

.bg-color3 {
    background-color: #42B918;
}

#about>div {
    padding:0  1.5rem;
}

.num-wrap {
    margin-bottom: 1.5rem;
}

#properties {
    padding: 4rem 1.5rem;
}

#properties img {
    height: auto;
    width: 100%;
    margin-bottom: 1.5rem;
}

#properties h2,
#reviews h2 {
    margin-bottom: 1.5rem;
}

#reviews {
    padding: 0 1.5rem;
}

.box {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 2rem;
    margin-bottom: 2rem;
}

.box > p {
    margin: 2rem 0 4rem;
}

.name {
    font-weight: 700;
    margin-bottom: 5px;
}

footer {
    background-color: #000;
    padding: 6rem 0;
}

footer a {
    color: #707070;
}

.phone-no {
    font-weight: 500;
    font-size: 2rem;
}

.phone-no,
.mail {
    text-align: center;
    display: block;
}

#contact .flex {
    justify-content: center;
    margin-top: 2rem;
}

.motto {
    color: #FE8432;
    opacity: 0.9;
    margin: 4rem 0 1em;
}

footer p {
    text-align: center;
}

.copyright{
    color: #707070;
}

@media screen and (min-width: 540px) {
    .nav,
    #choose-us {
        padding: 1.5rem 6rem;
    }

    .hero1 {
        height: 300px;
    }

    .hero2 {
        height: 400px;
        border-top-right-radius: 40%;
    }

    .content,
    #about>div,
    #reviews {
        padding: 0 6rem;
    }

    h1 {
        font-size: 2.7rem;
        width: 420px;
    }

    h2 {
        font-size: 1.9rem;
    }

    .about-inner {
        display: flex;
        align-items: end;
    }

    .num-wrap {
        margin-bottom: initial;
    }

    .about-inner p {
        margin-left: 3rem;
    }

    #properties {
        padding: 4rem;
    }
}

@media screen and (min-width: 760px) {
    nav {
        overflow: visible;
        bottom: 3.3rem;
    }

    #hamburger,
    #close-icon {
        display: none;
    }

    ul {
        display: flex;
        justify-content: end;
        margin-right: 5rem;
    }

    li a {
        margin: 0 .5rem;
    }
    
    #choose-us {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 4rem;
        margin-top: 4rem;
    }

    #choose-us a {
        margin: 1rem 0 0 0;
    }

    #choose-us > div{
        margin-right: 2rem;
    }

    #about {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
    }

    .hero2 {
        margin-right: 3rem;
        width: 35%;
    }

    #about > div {
        padding: initial;
        width: 45%;
    }

    #properties > div {
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
    }

    #reviews > div {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 30px;
        margin-bottom: 4rem;
    }

    #reviews > h2 {
        width: 500px;
        margin: 0 auto 1.5rem;
    }

    .box {
        width: 350px;
    }
}

@media screen and (min-width: 960px) {
    #properties > div {
        grid-template-columns: auto auto auto;
    }

    h2 {
        font-size: 2.5rem;
    }

    #reviews > h2 {
        width: 600px;
    }

   .phone-no {
       font-size: 3.2rem;
   }
    
   .mail {
        font-size: 1.1rem;
    }

   #contact .flex a {
       font-size: 1.3rem;
   }
}

@media screen and (min-width: 1000px) {
    .logo {
        height: 3rem;
    }

    .content-wrap {
        display: flex;
        align-items: center;
    }

    nav {
        bottom: 5rem;
    }

    .nav {
        padding: 2rem 4rem;
    }

    li {
        margin: 0 .5rem;
    }

    li > a {
        color: #313131;
        font-size: 19px;
        text-transform: uppercase;
      }
    
      li> a:hover {
          border-bottom: 3px solid #313131;
      }

    p {
        font-size: 1rem;
    }

    .content {
        padding: 0 6rem 0 4rem;
        margin: unset;
        width: 50%;
    }

    #about > div {
        width: 45%;
    }

    #properties img {
        transition: all .5s;
    }
    
    #properties img:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .hero1 {
        height: 700px;
        width: 50%;
        margin-top: -8rem;
    } 

    .hero2 {
        height: 600px;
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    #reviews > div {
        grid-template-columns: auto auto auto;
    }

    #choose-us {
        padding: 1.5rem 8.5rem;
        margin-top: 8rem;
    }

    #choose-us > div {
        margin-right: 3rem;
    }

    #properties {
        padding: 4rem 8.5rem;
    }

    #about > div {
        width: 40%;
    }

    .hero2 {
        height: 600px;
        width: 35%;
    }
}

@media screen and (min-width: 1400px) {
    section,
    header {
        max-width: 1320px;
        margin: auto;
    }
}